<div class="cover"></div>
<section class="section {{id}}">
  <div class="container">
    {{#if image }}
    <figure class="figure">
      {{{ picture image }}}
    </figure>
    {{/if}}
    <div class="content">
      <header>
        <h1>{{title}}</h1>
        {{#subtitle}}<p>{{.}}</p>{{/subtitle}}
      </header>
      {{{content}}}
    </div>
  </div>
</section>